<% provide(:title, @user.name) %>
<div>
  <aside>
    <section>
      <h1>
        <%= avatar_for(@user,"md") %>
        <%= @user.name %>
      </h1>
    </section>
     <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
   <div>
    <%= render 'follow_form' if signed_in? %>
      <span><%= pluralize(@user.microposts.count, "micropost") %></span>
    <%= render  'shared/feed', obj: @microposts %>
    

  </div>
</div>