<li id="<%= feed_item.id %>" class="post">
 
    <div class="user"> 
    <%= link_to avatar_for(feed_item.user, 'sm'), feed_item.user %>
     <%= link_to feed_item.user.name, feed_item.user %>
     <span class="timestamp"><%= time_ago_in_words(feed_item.created_at) %> ago</span>
    <%= render 'shared/is_current_user', obj: feed_item %>
    </div>
    <div class="content">
    <% unless feed_item.images.empty? %>
    
  <ul class="attachments">
   	 <%= render partial: 'shared/images', collection: feed_item.images %>
  </ul> 
  <%= feed_item.content %>
<% end %>
  </div>
</li>