<%= form_for(@micropost, html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= link_to avatar_for(@micropost.user, "sm"), @micropost.user, class:"avatar"%>
	<%= f.text_area :content, placeholder: "Compose new micropost..." %>
	<%= f.fields_for Picattachment do |p| %>
		<div>
			<%= p.file_field :picture, :multiple => true %>	
		</div>
	<% end %>
	
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>