<li id="<%= post.id %>" class="post">

	<div class="user"> 
		<%= link_to avatar_for(post.user, 'sm'), post.user %>
		<%= link_to post.user.name, post.user %>
		<span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago</span>
		<%= render 'shared/is_current_user', obj: post %>
	</div>
	<div class="content">
		<% unless post.images.empty? %>
			<ul class="attachments">
				<%= render partial: 'shared/images', collection: post.images %>
			</ul> 
			<%= post.content %>
		<% end %>
	</div>
</li>