
<li id="<%= post.id %>" class="post">

	<div class="post_info"> 
		<%= link_to avatar_for(post.user, 'sm'), post.user, class: 'avatar' %>
		<%= link_to post.user.name, post.user %><br>
		<%= link_to "#{time_ago_in_words(post.created_at)} ago",'#'  , class: "timestamp"%>
		<%= render 'shared/is_current_user', obj: post %>
	</div>
	<div class="content">
		<% unless post.images.empty? %>
			<ul class="attachments">
				<% post.images.each do |image| %>
					<li>
						<%= image_tag(image.picture,class: "post_image") %> 
					</li>
          		<% end %>
			</ul> 
		<% end %>
		
		<span class="text"><%= post.content %></span>
	</div>
</li>

